*{
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;
}
body{
	background: radial-gradient(lightgreen,teal);
}
.band{
	height: 100vh;
	width: 900px;
	margin: auto;
}
.band img{
	height: 100%;
	width: 100%;
}